body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5 {
  color: #343a40;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-primary {
  color: #007bff !important;
}

.img-fluid {
  max-width: 150px;
  height: auto;
}

.lead {
  color: #6c757d;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li strong {
  color: #495057;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
